* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #2865ffd1;
  color: #fff;
  padding: 30px;
  font-family: Overlock SC;
}

img {
  max-width: 100%;
  display: inline-block;
}

a {
  color: inherit;
  text-decoration: none;
  display: block;
}

a {
  transition: 0.3s;
}
a:hover {
  scale: 1.2;
}

ul {
  list-style: none;
}

body {
  background: #2865ffd1;
  height: 90vh;
}

header {
  max-width: 1600px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.lista-header {
  display: flex;
  justify-content: space-between;
}

.item-header a {
  font-weight: 400;
  font-size: 2rem;
  padding: 10px 20px;
  background-color: #2865ffd1;
  border-radius: 100px;
}

main {
  max-width: 1600px;
  margin: 0 auto;
  position: relative;
  margin-bottom: 40px;
}

.barraDePesquisa {
  background-color: #000dffb8;
  display: flex;
  justify-content: end;
  gap: 30px;
  border-radius: 50px;
  padding: 5px;
  margin-bottom: 20px;
}
.barraDePesquisa img {
  object-fit: cover;
  width: 36px;
}

.grid-main {
  display: grid;
  grid-template-columns: repeat(4, 200px);
  justify-content: center;
  gap: 50px;
}

.item-main {
  width: 200px;
  background-color: #fff;
  height: 240px;
  border-radius: 50px;
}

main::after {
  content: "";
  background: url(/imagens/setaDireita.png) no-repeat;
  position: absolute;
  width: 32px;
  height: 32px;
  right: 0;
  top: 50%;
}

main::before {
  content: "";
  background: url(/imagens/setaDireita.png) no-repeat;
  position: absolute;
  width: 32px;
  height: 32px;
  left: 0;
  top: 50%;
  transform: rotate(180deg);
}

@media (max-width: 1400px) {
  .grid-main {
    grid-template-columns: repeat(3, 200px);
  }
  #ultimo {
    display: none;
  }
  #penultimo {
    display: none;
  }
}

@media (max-width: 900px) {
  main::before {
    display: none;
  }
  main::after {
    display: none;
  }
}

footer h2 {
  text-align: center;
}
.azul {
  background-color: #fff;
  width: 120px;
  height: 120px;
  border-radius: 65px;
  display: none;
}

@media (max-width: 800px) {
  #escudo {
    width: 50px;
  }
  .grid-main {
    grid-template-columns: repeat(2, 200px);
    justify-content: center;
  }
  .item-main {
    width: 200px;
    background-color: #fff;
    height: 240px;
    border-radius: 65px;
  }
  #antepenultimo,
  #quarto {
    display: none;
  }
  .item-header a {
    font-size: 1.3rem;
  }
}

@media (max-width: 500px) {
  .grid-main {
    grid-template-columns: repeat(1, auto);
    justify-content: left;
  }
  .item-main {
    width: 350px;
    background-color: #000dffb8;
    height: 140px;
    border-radius: 65px;
    display: flex;
    align-items: center;
    padding-left: 10px;
  }
  #quinto {
    display: none;
  }
  .azul {
    display: block;
  }
}

@media (max-width: 420px) {
  .item-main {
    width: 300px;
  }
}

footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 30px;
}
